h1 {
    font-family: Arial;
}

nav.navbar {
    border-bottom: none;
    box-shadow: none;
    background-image: none;
    margin-bottom: 0px;
    background-color: transparent;
    margin-bottom: -70px;
    z-index: 10;
    position: absolute;
    width: 100%;
}