div.banner {
    background-color: black;
    width: 100%;
    display: inline-block;
}

nav.navbar {
    border-bottom: none;
    box-shadow: none;
    background-image: none;
    margin-bottom: 0px;
    background-color: transparent;
    width: 100%;
    display: inline-block;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

img.banner {
    width: 100%;
}

div.home-text{
	width: 50%;
	text-align: center;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 150%;
}