{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

Contact

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

{% endblock %}


{% block content %}

<h1>Contact Us</h1>
<div class="form-container">
	<form class="form-horizontal">
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
		</div>
		<div class="form-group">
		  	<div class="col-sm-offset-0 col-sm-12">
		  		<textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>
		  	</div>
		</div>
	  <div class="form-group"> 
	    <div class="col-sm-offset-0 col-sm-10">
	      <button type="submit" class="btn btn-default">Submit</button>
	    </div>
	  </div>
	</form>
</div>

{% endblock %}