{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

Districts

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/districts.css' %}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1"> 
            <div class="representative">
                <h1 class="title"> {{number}} </h1>
                <h2 class="name" align="center"> Current Representative: {{congressman}} </h2>
                <img src="{{img_url}}" alt={{congressman}}>
                <p class="information" align="center"><p>{{party}}</p>
                <p>{{stance}}</p>
                <a href={{url}}>More Policy Information</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}