{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

Districts

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/districts.css' %}">

{% endblock %}

{% block content %}

<h1 class="title"> {{number}} </h1>
<h2 class="name" align="center"> Current Representative: {{congressman}} </h2>
<img style="text-align: center; margin: 50px" src={{img_url}} alt={{congressman}}>
<p class="information" align="center"><p>{{party}}</p>
<p>{{stance}}</p>
<a href={{url}}>More Policy Information</a></p>


{% endblock %}