{% extends 'base.html' %}
{% load staticfiles%}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


{% endblock %}

{% block title %}

Home

{% endblock %}

{% block content %}

<div class="banner">
    <img class="banner" src="{% static 'img/banner.png' %}">
</div>

<div class="home-text">
	<p>
	Climate change is a serious issue that our planet is facing now. If we don't take swift and decisive action, there will be serious consequences for life as we know it. However, there are many climate change deniers that are impeding progress in this critical field. Most notably, representatives in government halt legislation necessary for protecting our environment. This tool can help in determining which representatives are in support of stopping climate change.
	</p>
</div>

{% endblock %}